@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{ 
    --cor0: #D99379;
    --cor1: #D95043;
    --cor2: #A64138;
    --cor3: #732F29;
    --cor4: #D9CCCC;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'android', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: var(--font-padrao);
    margin: 0;
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, #d99379, #a34138);
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    top: 0;
    left: 0;
    padding: 25px 0px 0px 0px;
}

header > article > aside > h1.cabecalho{
    color: white;
    font-size: 35px;
    font-family: var(--font-android);
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin: 0px 10px 10px 20px;
    
}

header > article > aside > p{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 23px;
    margin: 20px 20px 0px 20px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    padding-bottom: 25px;
}

nav {
    background-image: linear-gradient(to bottom,#a34138 55%, #732F29);
    top: 98px;
    height: 40px;
    width: 100%;
    padding-top: 12px;
    text-indent: 38px;
}

nav > a{
    font-family: var(--font-destaque);
    margin: 21px 0px 15px 15px;
    color: white;
    text-decoration-line: none;
    padding: 10px;
    font-size: 19px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.661);
}

nav > a:hover{
        margin: 18px .5px 13.5px 13.5px;
        padding: 8.5px;
        background-color: var(--cor3);
        text-decoration: underline;
        color: var(--cor0);
        border-radius: 7px;
        transition-duration: .5s;
        text-shadow: 2px 2px 2px #d950439f;
        font-size: 20.5px;
}

main{
    background-color: white;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.771);
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 15px 27px 20px 27px;
    margin-bottom: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > article > aside > h1.tema1{
    text-align: center;
    margin-bottom: 10px;
    background-image: radial-gradient(circle, var(--cor0) 68%, var(--cor2) , var(--cor3));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    text-shadow: 4px 3px 4px black;

    font-family: var(--font-destaque);
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 1.5px;
    word-spacing: 4px;
}

main > article > aside h2.tema1{
    text-indent: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, var(--cor3), var(--cor0));
    letter-spacing: 1.5px;
    word-spacing: 4px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px #D95043;

    font-family: var(--font-destaque);
    font-size: 23px;
    font-weight: 400;
}

main > article > aside p.tema1{
    text-indent: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    letter-spacing: 1.25px;
    word-spacing: 3.5px;
    line-height: 27.5px;

    font-family: var(--font-padrao);
    font-size: 20px;
    font-weight: 300;
}

main > article > aside.tema1{
    margin-bottom: 15px;
    background-color: whitesmoke;
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.579);

    min-width: 300px;
    max-width: 800px; 
}

main a{
    text-decoration-line: none;
    color: var(--cor1);
    background-color: var(--cor4);
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px 5px;
    border-radius: 6px;
}

main a:hover{
    background-color: #732F29;
    color: white;
    text-decoration: underline;
    padding: 4px 10px;

}

main > article > aside > picture.container{
    display: block;
    margin: auto;
    min-width: 280px;
    max-width: 100%;

}
main picture.pqn{
    width: 50%;
    display: block;
    margin: auto;
}

main > article > aside > div.video{
    background-color: var(--cor0);
    margin: 10px -5px 25px -5px;
    padding: 16px;
    position: relative;
    padding-bottom: 55%;
}

main > article > aside > div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main > article > aside.tema2{
    margin-bottom: 15px;
    background-color: #e39b94;
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(56, 51, 51, 0.579);

    min-width: 300px;
    max-width: 800px; 
}

main > article > aside > h1.tema2{
    text-indent: 75px;
    font-family: var(--font-destaque);
    font-size: 25px;
    background-image: linear-gradient(to bottom, var(--cor2), #e39b94);
    margin: -5px -5px 7.5px -5px;

    border-radius: 10px 10px 0px 0px;
    color: whitesmoke;
    text-shadow: 3px 4px 5px black;
}

main > article > aside > p.tema2{
    text-indent: 35px;
    font-family: var(--font-padrao);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.0px;
    color:  black;
    margin: 5px 15px 10px 15px;
}

main > article > aside > ul.tema2{
    list-style-position: inside;
    text-indent: 75px;
    columns: 2;
    margin-top: 25px;
    margin-bottom: 25px;
}

main > article > aside > ul > li.tema2{
    font-family: var(--font-padrao);
    font-size: 19px;
    letter-spacing: 1.8px;
    word-spacing: 4px;
    text-decoration-line: none;
    font-weight: 200;
}

footer{
    background-color: #732F29;
    width: 100%;
    height: 30px;
    padding-top: 10px;
}

footer > p{
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: var(--font-padrao);
}

footer > p > a{
    text-decoration-line: none;
    color: #D9CCCC;
}

footer > p > a:hover{
    text-decoration: underline;
    color: aqua;
}