@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

header {
    background-color: black;
    width: 100%;
    max-height: 120px;
    min-height: 60px;
    position: absolute;
    top: 0%;
}

header > h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 0%;
}

header > p {
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 7.5px;
    text-decoration: 1px underline;
}

header > a {
    color: white;
    text-decoration: none;
}

footer{
    color: white;
    
}